<!-- NAVEGADOR -->
<mat-toolbar color="primary">
    <button mat-icon-button routerLink="/inicio" class="example-icon" aria-label="Example icon-button with menu icon">
        <!-- ÍCONOS SIN MAYÚSCULAS -->
        <mat-icon>home</mat-icon>
    </button>
    <span>My App</span>

    <span class="example-spacer"></span>

    <!-- ENRUTAMOS PÁGINAS -->
    <button mat-button routerLink="/inicio">Inicio</button>
    <button mat-button routerLink="/nosotros">Nosotros</button>

    <button mat-icon-button routerLink="/register">
        <mat-icon>person</mat-icon>
    </button>
</mat-toolbar>