<mat-toolbar color="primary">
  <button mat-icon-button routerLink="/inicio" class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>home</mat-icon>
  </button>
  <span>Pets</span>

  <!-- ENRUTAMOS PÁGINAS -->
  <button mat-button routerLink="/inicio">Inicio</button>
  <button mat-button routerLink="/nosotros">Nosotros</button>
  <!-- MENU despegable para Productos -->
  <button mat-button [matMenuTriggerFor]="menu">Productos</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/productos">Todos</button>
    <button mat-menu-item routerLink="/collares">Collares</button>
    <button mat-menu-item routerLink="/juguetes">Juguetes</button>
    <button mat-menu-item routerLink="/indumentaria">Indumentaria</button>
  </mat-menu>
  <button mat-button routerLink="/admin">Administrador</button>

  <span class="example-spacer"></span>

  <!-- Menu despegable para usuarios (registro y login)-->
  <!-- Va a contener los formularios de acceso -->
  <button mat-button [matMenuTriggerFor]="user"><mat-icon>person</mat-icon></button>
  <mat-menu #user="matMenu">
    <button mat-menu-item routerLink="/login">Iniciar Sesión <mat-icon>person</mat-icon></button>
    <button mat-menu-item routerLink="/register">Registrarse <mat-icon>person_add</mat-icon></button>
  </mat-menu>
</mat-toolbar>